@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PTSans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PTSans"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff2") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue-light: #81B3D2;
  --basic-blue: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-grey: #EEEEEE;
  --basic-grey-light: #F2F2F2;
  --basic-grey-dark: #EBEBEB;
  --basic-grey-link: #BDBBBC;
  --basic-grey-line: #E5E5E5;
  --basic-grey-text: #666666;
  --basic-grey-toggle: #ABABAB;
  --basic-brown-light: #766357;
  --basic-brown: #604E43;
  --basic-brown-dark: #503E33;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 21px;
  line-height: inherit;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.container {
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}

.main-nav {
  position: relative;
  padding: 0 72px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
}

.site-nav {
  list-style: none;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
}

.site-nav li {
  padding: 15px 0;
  width: 228px;
}

.site-nav li:nth-child(4n + 2) {
  margin-right: auto;
}

.site-nav li:nth-child(4n + 3),
.site-nav li:nth-child(4n + 4) {
  text-align: right;
}

.site-nav a {
  color: var(--basic-black);
}

.here a {
  color: var(--basic-brown-light);
}

.site-nav a:hover {
  color: var(--basic-blue-light);
}

.site-nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.welcome {
  background-image: url("../img/shape.svg"), url("../img/background.jpg");
  background-position: bottom center, top center;
  background-color: var(--basic-blue);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 509px;
  align-items: center;
  justify-content: center;
}

.benefits {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.reason {
  min-height: 196px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  align-items: center;
}

.reason h3 {
  font-size: 21px;
  font-weight: 700;
  width: 480px;
  text-align: center;
  margin: 23px 0;
  padding: 10px;
}

.reason-text {
  width: 530px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.benefits-list {
  line-height: 21px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  counter-reset: li;
}

.benefits-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reverse {
  flex-direction: row-reverse;
}

.benefits-list h4 {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
  text-align: center;
  margin-top: 26px;
  width: 150px;
  align-self: center;
}

.benefits-list h4::after {
  content: "—№"counter(li)"—";
  counter-increment: li;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-top: 26px;
  padding: 0;
}

.benefits-description {
  background-color:var(--basic-blue-light);
  color: var(--basic-white);
  width: 380px;
  min-height: 236px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.benefits-text, .benefits-reason p {
  align-self: center;
  margin: 0;
  margin-top: 3px;
  width: 310px;
  text-align: center;
  padding: 10px;
}

.benefit-image {
  width: 800px;
  min-height: 256px;
}

.benefit-image img {
  display: block;
}

.features-list {
  line-height: 21px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
}

.features-list li {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 310px;
  padding: 10px;
}

.features-house {
  background-image: url("../img/house.svg");
  background-position: center 60px;
}

.features-food {
  background-image: url("../img/food.svg");
  background-position: center 61px;
}

.features-gift {
  background-image: url("../img/gift.svg");
  background-position: center 56px;
}

.features-list h5 {
  font-size: 21px;
  font-weight: 700;
  width: 110px;
  margin: 0;
  margin-top: 139px;
  text-align: center;
  padding: 10px;
}

.features-text {
  width: 297px;
  text-align: center;
  padding: 10px;
  margin: 0;
  margin-top: 5px;
}

.benefits-reason {
  background-color:var(--basic-grey);
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 380px;
  min-height: 236px;
}

.benefits-reason p {
  width: 260px;
}

.benefits-reason:last-child p {
  width: 250px;
}

.find {
  line-height: 24px;
  text-align: center;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.find h2 {
  font-size: 30px;
  margin: 0;
  margin-top: 35px;
  padding: 10px 17px 10px 10px;
}

.find p {
  width: 440px;
  text-align: center;
  margin: 14px 0 23px;
  padding: 10px;
}

.search-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
}

.find-button {
  background-color: var(--basic-brown-light);
  text-align: center;
  width: 568px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 30px;
  z-index: 1;
}

.find-button:hover {
  background-color: var(--basic-brown);
}

.find-button:active {
  background-color: var(--basic-brown-dark);
}

.popup-form-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  text-align: center;
  font-weight: 700;
  background-color: var(--basic-white);
  margin: 0 auto;
  width: 568px;
  padding: 55px;
  max-width: 100%;
  min-height: 395px;
  box-sizing: border-box;
}

@-webkit-keyframes bounce {
  0% { transform: translateY(-290px); }
  100% { transform: translateY(0); }
}

@keyframes bounce {
  0% { transform: translateY(-290px); }
  100% { transform: translateY(0); }
}

.popup-show {
  display: block;
  -webkit-animation: bounce 0.6s ease-out;
          animation: bounce 0.6s ease-out;
  z-index: 0;
}

.popup-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 29px;
}

.popup-item-label {
  flex: none;
  box-sizing: border-box;
  width: 112px;
  text-align: left;
}

.popup-item-label.childrens {
  margin-right: 5px;
  padding-right: 20px;
  text-align: right;
}

.field {
  background-color: var(--basic-grey-light);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid var(--basic-grey-light);
  display: block;
  flex-grow: 1;
  padding: 0 38px 0 13px;
  margin: 0;
  max-width: 100%;
  height: 34px;
}

.field:hover {
  background-color: var(--basic-grey-dark);
  border: 2px solid var(--basic-grey-dark);
  outline-offset: 0;
}

.field:focus {
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey-line);
  outline-offset: 0;
}

.button-popup {
  border: none;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.button-triangle:hover path,
.button-popup:hover rect,
.button-popup:hover path {
  fill: var(--basic-black);
}

.button-triangle:active path,
.button-popup:active rect,
.button-popup:active path {
  fill: var(--basic-blue-light);
}

.calendar,
.plus {
  right: 0;
}

.minus {
  left: 0;
}

.quantity {
  position: relative;
  flex: none;
  width: 114px;
}

.quantity .field {
  padding-left: 36px;
  text-align: center;
  width: 38px;
}

.popup-find-button {
  background-color: var(--basic-blue-light);
  width: 100%;
  box-sizing: border-box;
  padding: 16px 30px;
  margin-top: 25px;
}

.popup-find-button:hover {
  background-color: var(--basic-blue);
}

.popup-find-button:active {
  background-color: var(--basic-blue-dark);
}

.map {
  height: 594px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.main-footer {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  position: absolute;
  bottom: 0;
  min-height: 120px;
}

.catalog-page-footer {
  position: static;
}

.main-footer a {
  color: var(--basic-black);
  font: inherit;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer-tag {
  padding: 5px;
  margin: 7px 0 0 73px;
}

.footer-phone {
  padding: 5px;
  margin: 0;
  margin-left: 73px;
}

.footer-social {
  align-items: center;
  width: 380px;
  padding: 10px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 10px 5px 115px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-blue-light);
  width: 46px;
  height: 48px;
  margin: 0 6px 5px 0;
}

.social-button:hover {
  background-color: var(--basic-blue);
}

.social-button:active {
  background-color: var(--basic-blue-dark);
}

.social-button:active img {
  opacity: 0.3;
}

.footer-copyright {
  width: 380px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.copyright {
  padding: 10px 10px 15px;
  margin: 0 5px 0 46px;
}

.footer-link {
  padding-top: 3px;
}

.footer-link:hover path {
  fill: var(--basic-blue-light);
}

.footer-link:active path {
  fill: var(--basic-grey-link);
}

.catalog-filter {
  font: inherit;
  font-size: inherit;
  line-height: 21px;
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  background-image: url("../img/backfilter.jpg");
  background-position: top center;
  background-color: var(--basic-blue);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 217px;
  width: 100%
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  border: none;
  padding: 10px;
  margin: 16px 38px 10px 63px;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  padding-top: 10px;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-item {
  padding: 10px 0;
  margin-top: 5px;
}

.filter-item label {
  position: relative;
  display: block;
  margin-left: 40px;
  cursor: pointer;
}

.filter-item input + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item input:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 26px;
  height: 23px;
  background-image: url(../img/on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item input:disabled + label::before  {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/disabledoff.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item input:checked:disabled + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 26px;
  height: 23px;
  background-image: url(../img/disabledon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item input:focus + label::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.cost {
  border:none;
  display: flex;
  flex-direction: column;
  width: 317px;
  margin: 16px 73px 10px auto;
  padding: 0;
}

.cost legend {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0 0 0;
}

.range {
  position: relative;
  margin-bottom: 25px;
  padding: 9px 0;
  width: 100%;
}

.scale {
  position: relative;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.scale-line {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 4px;
  height: 4px;
  background-color: var(--basic-grey-toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.2) translate(0, -50%);
}

.limit {
  display: flex;
  margin: 10px 0 11px;
  padding: 5px 0;
  min-width: 313px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.limit label {
  position: relative;
  flex: none;
  display: flex;
  justify-content: center;
  width: 50%;
}

.limit label:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-1px, -50%);
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.limit input {
  display: block;
  padding: 0;
  width: 90px;
  height: 22px;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.filter-button {
  font-size: 14px;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 6px 35px;
  text-align: center;
  width: 137px;
  align-self: center;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 86px;
}

.results h3 {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 21px 5px 0 26px;
  padding: 10px 20px 10px 10px;
  order: 1;
}

.found {
  font-size: 21px;
  font-weight: 700;
  order: 0;
  padding: 10px;
  margin: 0;
  margin-left: 63px;
  align-self: center;
}

.sorting {
  list-style: none;
  order: 2;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.triangle {
  margin-right: 65px;
  justify-content: flex-end;
  align-self: center;
}

.sorting li {
  padding: 10px 15px 10px 17px;
  margin-top: 17px;
}

.triangle li {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.button-sorting {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px dotted var(--basic-blue-light);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.selected {
  color: var(--basic-blue-light);
  border-bottom: none;
  opacity: 1;
}

.button-sorting:hover {
  color: var(--basic-blue-light);
  opacity: 1;
  border-bottom: 1px dotted var(--basic-blue-light);
}

.button-sorting:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: 1;
}

.button-triangle {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 25px;
  height: 40px;
  cursor: pointer;
}

.search-result {
  display: flex;
  border-top: 1px solid var(--basic-grey-line);
  min-height: 150px;
  width: 100%;
}

.search-result:last-child {
  border-bottom: 1px solid var(--basic-grey-line);
}

.building-img {
  margin: 30px 10px 20px 73px;
}

.building {
  padding: 10px;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.text-information {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.button-information {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.rating {
  padding: 10px;
  margin: 0;
  margin-right: 62px;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 14px;
  line-height: 21px;
  padding: 2px 8px 5px 9px;
  margin-bottom: 10px;
  min-width: 100px;
  text-align: left;
}

.result-name {
  font: inherit;
  font-size: 21px;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0;
  margin-top: 9px;
}

.result-name-link {
  color: var(--basic-black);
}

.result-name-link:hover {
  color: var(--basic-blue-light);
}

.result-name-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.more-button,
.reservation-button {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 3px 16px;
  margin: 0;
  margin-right: 7px;
  margin-bottom: 5px;
  width: auto;
}

.more-button {
  margin-left: 10px;
}

.rating-number {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey-text);
  background-color: var(--basic-grey-light);
  padding: 3px 14px;
  margin: 39px 0 10px;
}

.rating-stars {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  text-align: right;
}
