@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PTSans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PTSans"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff2") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue-light: #81B3D2;
  --basic-blue: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-grey: #EEEEEE;
  --basic-grey-light: #F2F2F2;
  --basic-grey-dark: #EBEBEB;
  --basic-brown-light: #766357;
  --basic-brown: #604E43;
  --basic-brown-dark: #503E33;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-family: inherit;
  font-size: 21px;
  line-height: inherit;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  border:none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.container {
  margin: 0 auto;
  background-color: var(--basic-white);
  width: 1200px;
}

.site-nav {
  list-style: none;
  font-weight: 700;
}

.site-nav a {
  color: var(--basic-black);
}

.here a {
  color: var(--basic-brown-light);
}

.site-nav a:hover {
  color: var(--basic-blue-light);
}

.site-nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.welcome {
  text-align: center;
  background-image: url("../img/shape.svg"), url("../img/background.jpg");
  background-position: bottom center, top center;
  background-color: var(--basic-blue);
  background-repeat: no-repeat;
}

.benefits {
  text-align: center;
}

.benefits h3 {
  font-size: 21px;
  font-weight: 700;
}

.benefits-list {
  text-align:left;
  line-height: 21px;
}

.benefits-description {
  background-color:var(--basic-blue-light);
  color: var(--basic-white);
}

.benefits-list h4 {
  font-size: 21px;
  font-weight: 700;
}

.features-list {
  list-style: none;
}

.features-house {
  line-height: 21px;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
}

.features-list h5 {
  font-size: 21px;
  font-weight: 700;
}

.features-food {
  line-height: 21px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
}

.features-gift {
  line-height: 21px;
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
}

.benefits-reason {
  background-color:var(--basic-grey);
}

.find {
  line-height: 24px;
  text-align: center;
  background-color: var(--basic-white);
}

.find h2 {
  font-size: 30px;
}

.find-button {
  background-color: var(--basic-brown-light);
}

.find-button:hover {
  background-color: var(--basic-brown);
}

.find-button:active {
  background-color: var(--basic-brown-dark);
}

.popup {
  text-align: center;
  font-weight: 700;
}

.button-popup {
  border: none;
}

.field {
  background-color: var(--basic-grey-light);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid var(--basic-grey-light);
}

.field:hover {
  background-color: var(--basic-grey-dark);
  border: 2px solid var(--basic-grey-dark);
}


.field:focus {
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.popup-item input::placeholder {
  color: var(--basic-black);
  opacity: 0;
}

.popup-find-button {
  background-color: var(--basic-blue-light);
}

.popup-find-button:hover {
  background-color: var(--basic-blue);
}

.popup-find-button:active {
  background-color: var(--basic-blue-dark);
}

.map {
  text-align: center;
}

.main-footer {
  background: rgba(255, 255, 255, 0.9);
}

.main-footer a {
  color: var(--basic-black);
  font: inherit;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
}

.twitter {
  background-image: url("../img/social/twitter.svg");
}

.facebook {
  background-image: url("../img/social/fb.svg");
}

.youtube {
  background-image: url("../img/social/youtube.svg");
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: var(--basic-blue-light);
  background-repeat: no-repeat;
}

.social-button:hover {
  background-color: var(--basic-blue);
}

.social-button:active {
  background-color: var(--basic-blue-dark);
}

.catalog-filter {
 font: inherit;
 font-size: inherit;
 line-height: 21px;
 font-weight: inherit;
 text-transform: uppercase;
 color: var(--basic-white);
 background-image: url("../img/backfilter.jpg");
 background-position: top center;
 background-color: var(--basic-blue);
 background-repeat: no-repeat;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter {
  border:none;
}

.filter-list {
  list-style: none;
}

.cost legend {
  font-size: 16px;
  font-weight: 700;
}

.cost {
  border:none;
  background-image: url(../img/line.svg), url(../img/oval.svg), url(../img/oval.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.limit {
  background-image: url(../img/box.svg);
  background-repeat: no-repeat;
}

.filter-button {
  font-size: 14px;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;

}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.results h3 {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 21px;
}

.found {
  font-size: 21px;
  font-weight: 700;
}

.sorting {
  list-style: none;
}

.button-sorting {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.selected {
  color: var(--basic-blue-light);
  text-decoration: none;
  opacity: 1;
}

.button-sorting:hover {
  color: var(--basic-blue-light);
  opacity: 1;
  text-decoration: underline;
}

.button-sorting:active {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 1;
}

.button-triangle {
  border: none;
  background-color: transparent;
}

.result-name {
  font: inherit;
  font-size: 21px;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.result-name-link {
  color: var(--basic-black);
}

.result-name-link:hover {
  color: var(--basic-blue-light);
}

.result-name-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.more-button,
.reservation-button {
  font-size: 14px;
  line-height: 21px;
}

.rating-number {
  font-size: 14px;
  line-height: 21px;
  color:  #666666;
  background-color: var(  --basic-grey-light);
}
